<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>G-code generator | Multimaterial Y joiner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            padding-top: 3.5rem;
        }
    </style>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="index.html">Multimaterial Y joiner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="beta.html">Cura 3.4</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Slic3r PE</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>

    <main role="main" id="app">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">G-code generator (Cura 3.4)</h1>
                <p class="lead">This G-code generator will help you generate G-code for your printer. It's designed for
                    <a
                            href="https://www.thingiverse.com/thing:3039887" target="_blank">Multimaterial Y joiner</a>.
                </p>

                <hr>

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="filamentParkingPosition">Filament parking position</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="filamentParkingPosition"
                                       placeholder="Enter distance in mm (e.g.: 140)" v-model="filamentParkingPosition">
                                <div class="input-group-append">
                                    <span class="input-group-text">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="coolingLength">Filament cooling length</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="coolingLength"
                                       placeholder="Enter length in mm (e.g.: 10)"
                                       v-model="coolingLength">
                                <div class="input-group-append">
                                    <span class="input-group-text">mm</span>
                                </div>
                            </div>
                            <small class="form-text text-muted">10 mm means +5 and -5 mm from parking position, 0 = disable</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="maxExtruderFeedrate">Max extruder feedrate</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="maxExtruderFeedrate"
                                       placeholder="Max extruder feedrate" v-model="maxExtruderFeedrate">
                                <div class="input-group-append">
                                    <span class="input-group-text">&gt;= 1000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="wasteBlockX">Waste block X</label>
                            <input type="number" class="form-control" id="wasteBlockX"
                                   placeholder="X position of the waste block" v-model="wasteBlockX">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="wasteBlockY">Waste block Y</label>
                            <input type="number" class="form-control" id="wasteBlockY"
                                   placeholder="Y position of the waste block" v-model="wasteBlockY">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="wasteBlockSize">Waste block size</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="wasteBlockSize"
                                       placeholder="Size of waste the block" v-model="wasteBlockSize">
                                <div class="input-group-append">
                                    <span class="input-group-text">mm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Start G-code</h2>
                    <form>
                        <div class="form-group">
                            <textarea readonly class="form-control form-control-sm"
                                      rows="15">{{ startGcode }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>End G-code</h2>
                    <form>
                        <div class="form-group">
                            <textarea readonly class="form-control form-control-sm" rows="15">{{ endGcode }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Start Extruder G-code</h2>
                    <form>
                        <div class="form-group">
                            <textarea readonly class="form-control form-control-sm"
                                      rows="15">{{ startExtruderGcode }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>End Extruder G-code</h2>
                    <form>
                        <div class="form-group">
                            <textarea readonly class="form-control form-control-sm"
                                      rows="15">{{ endExtruderGcode }}</textarea>
                        </div>
                    </form>
                </div>
            </div>

            <hr>

        </div> <!-- /container -->

    </main>

    <footer class="container">
        <p>
            &copy; <a href="https://zemistr.eu" target="_blank">Zemistr</a>
            <script>document.write((new Date()).getFullYear())</script>
            | <a href="https://github.com/Zemistr/multimaterial-y-joiner-gcode-generator" target="_blank">Github</a>
        </p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="js/beta.js"></script>

<!-- Matomo Image Tracker-->
<img src="https://piwik.zdft.net/piwik.php?idsite=2&amp;rec=1" style="border:0" alt=""/>
<!-- End Matomo -->
</body>
</html>
